defaults: &defaults
  docker:
    - image: gcr.io/planet-4-151612/p4-builder:{{ .Env.INFRA_VERSION }}
  working_directory:  /home/circleci/

version: 2

jobs:
  build-develop:
    <<: *defaults
    environment:
      APP_ENVIRONMENT: development
      APP_HOSTNAME: k8s.p4.{{ .Env.APP_HOSTNAME }}
      APP_HOSTPATH: {{ .Env.APP_HOSTPATH }}
      CLOUDSQL_INSTANCE: {{ .Env.GCP_DEVELOPMENT_CLOUDSQL }}
      CONTAINER_PREFIX: {{ .Env.CONTAINER_PREFIX }}
      GOOGLE_PROJECT_ID: {{ .Env.GCP_DEVELOPMENT_PROJECT }}
      HELM_NAMESPACE: develop
      TYPE: "Container Build - {{ .Env.CONTAINER_PREFIX}}-x"
      WP_DB_NAME: {{ .Env.MYSQL_USERNAME }}_{{ .Env.MYSQL_DATABASE }}_develop
      WP_STATELESS_BUCKET: {{ .Env.CONTAINER_PREFIX }}-stateless-develop
      WP_TITLE: {{ .Env.WP_TITLE }} Development
    steps:
      - setup_remote_docker

      - run:
          name: Configure
          command: |
            ${HOME}/scripts/activate-gcloud-account.sh
            mkdir -p /tmp/workspace/var
            echo "${CIRCLE_BUILD_NUM}" > /tmp/workspace/var/circle-build-num

      - run:
          name: Build
          working_directory: /home/circleci
          command: |
            if make
            then
              ${HOME}/scripts/notify-job-success.sh
            else
              ${HOME}/scripts/notify-job-failure.sh
              exit 1
            fi

      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - var

  # test:
  #   <<: *defaults
  #   steps:
  #     - run:
  #         name: Placeholder
  #         command: |
  #           echo "Branch: ${CIRCLE_BRANCH}"
  #           echo "Build:  ${CIRCLE_BUILD_NUM}"
  #           echo "Tag:    ${CIRCLE_TAG}"
  #           echo "No tests implemented yet"

  deploy-develop:
    <<: *defaults
    environment:
      APP_ENVIRONMENT: development
      APP_HOSTNAME: k8s.p4.{{ .Env.APP_HOSTNAME }}
      APP_HOSTPATH: {{ .Env.APP_HOSTPATH }}
      CLOUDSQL_INSTANCE: {{ .Env.GCP_DEVELOPMENT_CLOUDSQL }}
      CONTAINER_PREFIX: {{ .Env.CONTAINER_PREFIX }}
      GOOGLE_PROJECT_ID: {{ .Env.GCP_DEVELOPMENT_PROJECT }}
      HELM_NAMESPACE: develop
      WP_DB_NAME: {{ .Env.MYSQL_USERNAME }}_{{ .Env.MYSQL_DATABASE }}_develop
      WP_STATELESS_BUCKET: {{ .Env.CONTAINER_PREFIX }}-stateless-develop
      WP_TITLE: {{ .Env.WP_TITLE }} Development
    steps:
      - attach_workspace:
          at: /tmp/workspace

      - run:
          name: Configure
          command: |
            ${HOME}/scripts/activate-gcloud-account.sh

      - run:
          name: Deploy new containers
          environment:
            NEWRELIC_APPNAME: {{ .Env.NEWRELIC_APPNAME }} Development
          command: |
            export BUILD_TAG=build-$(cat /tmp/workspace/var/circle-build-num)
            make -j2 deploy

  build-release:
    <<: *defaults
    environment:
      APP_ENVIRONMENT: staging
      APP_HOSTNAME: release.k8s.p4.{{ .Env.APP_HOSTNAME }}
      APP_HOSTPATH: {{ .Env.APP_HOSTPATH }}
      CLOUDSQL_INSTANCE: {{ .Env.GCP_PRODUCTION_CLOUDSQL }}
      CONTAINER_PREFIX: {{ .Env.CONTAINER_PREFIX }}
      GCLOUD_CLUSTER: {{ .Env.GCP_PRODUCTION_CLUSTER }}
      GOOGLE_PROJECT_ID: {{ .Env.GCP_PRODUCTION_PROJECT }}
      HELM_NAMESPACE: {{ .Env.APP_HOSTPATH }}
      HELM_RELEASE: {{ .Env.CONTAINER_PREFIX }}-release
      TYPE: "Container Build - {{ .Env.CONTAINER_PREFIX}}-x"
      WP_DB_NAME: {{ .Env.MYSQL_USERNAME }}_{{ .Env.MYSQL_DATABASE }}_release
      WP_STATELESS_BUCKET: {{ .Env.CONTAINER_PREFIX }}-stateless-release
      WP_TITLE: {{ .Env.WP_TITLE }} Release Candidate
    steps:
      - setup_remote_docker

      - run:
          name: Configure
          command: |
            ${HOME}/scripts/activate-gcloud-account.sh
            mkdir -p /tmp/workspace/var
            echo "${CIRCLE_BUILD_NUM}" > /tmp/workspace/var/circle-build-num

      - run:
          name: Build
          working_directory: /home/circleci
          command: |
            if make
            then
              ${HOME}/scripts/notify-job-success.sh
            else
              ${HOME}/scripts/notify-job-failure.sh
              exit 1
            fi

      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - var

  # test-release:
  #   <<: *defaults
  #   steps:
  #     - run:
  #         name: Placeholder
  #         command: |
  #           echo "Branch: ${CIRCLE_BRANCH}"
  #           echo "Build:  ${CIRCLE_BUILD_NUM}"
  #           echo "Tag:    ${CIRCLE_TAG}"
  #           echo "No tests implemented yet"

  deploy-release:
    <<: *defaults
    environment:
      APP_ENVIRONMENT: staging
      APP_HOSTNAME: release.k8s.p4.{{ .Env.APP_HOSTNAME }}
      APP_HOSTPATH: {{ .Env.APP_HOSTPATH }}
      CLOUDSQL_INSTANCE: {{ .Env.GCP_PRODUCTION_CLOUDSQL }}
      CONTAINER_PREFIX: {{ .Env.CONTAINER_PREFIX }}
      GCLOUD_CLUSTER: {{ .Env.GCP_PRODUCTION_CLUSTER }}
      GOOGLE_PROJECT_ID: {{ .Env.GCP_PRODUCTION_PROJECT }}
      HELM_NAMESPACE: {{ .Env.APP_HOSTPATH }}
      HELM_RELEASE: {{ .Env.CONTAINER_PREFIX }}-release
      WP_DB_NAME: {{ .Env.MYSQL_USERNAME }}_{{ .Env.MYSQL_DATABASE }}_release
      WP_STATELESS_BUCKET: {{ .Env.CONTAINER_PREFIX }}-stateless-release
      WP_TITLE: {{ .Env.WP_TITLE }} Release Candidate
    steps:
      - attach_workspace:
          at: /tmp/workspace

      - run:
          name: Configure
          command: |
            ${HOME}/scripts/activate-gcloud-account.sh

      - run:
          name: Deploy new containers
          environment:
            NEWRELIC_APPNAME: {{ .Env.NEWRELIC_APPNAME }} Release
          command: |
            export BUILD_TAG=build-$(cat /tmp/workspace/var/circle-build-num)
            make -j2 deploy

  build-tag:
    <<: *defaults
    environment:
      APP_HOSTNAME: master.k8s.p4.{{ .Env.APP_HOSTNAME }}
      APP_HOSTPATH: {{ .Env.APP_HOSTPATH }}
      CLOUDSQL_INSTANCE: {{ .Env.GCP_PRODUCTION_CLOUDSQL }}
      CONTAINER_PREFIX: {{ .Env.CONTAINER_PREFIX }}
      GCLOUD_CLUSTER: {{ .Env.GCP_PRODUCTION_CLUSTER }}
      GOOGLE_PROJECT_ID: {{ .Env.GCP_PRODUCTION_PROJECT }}
      HELM_NAMESPACE: {{ .Env.APP_HOSTPATH }}
      HELM_RELEASE: {{ .Env.CONTAINER_PREFIX }}-master
      MIN_REPLICA_COUNT: 2
      TYPE: "Tagged Container Build - {{ .Env.CONTAINER_PREFIX}}-x"
      WP_DB_NAME: {{ .Env.MYSQL_USERNAME }}_{{ .Env.MYSQL_DATABASE }}_master
      WP_STATELESS_BUCKET: {{ .Env.CONTAINER_PREFIX }}-stateless
      WP_TITLE: {{ .Env.WP_TITLE }}
    steps:
      - setup_remote_docker

      - run:
          name: Configure
          command: |
            ${HOME}/scripts/activate-gcloud-account.sh
            mkdir -p /tmp/workspace/var
            echo "${CIRCLE_BUILD_NUM}" > /tmp/workspace/var/circle-build-num

      - run:
          name: Build
          working_directory: /home/circleci
          command: |
            if make
            then
              ${HOME}/scripts/notify-job-success.sh
            else
              ${HOME}/scripts/notify-job-failure.sh
              exit 1
            fi

      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - var

  # test-tag:
  #   <<: *defaults
  #   steps:
  #     - run:
  #         name: Placeholder
  #         command: |
  #           echo "Branch: ${CIRCLE_BRANCH}"
  #           echo "Build:  ${CIRCLE_BUILD_NUM}"
  #           echo "Tag:    ${CIRCLE_TAG}"
  #           echo "No tests implemented yet"

  deploy-tag:
    <<: *defaults
    environment:
      APP_HOSTNAME: master.k8s.p4.{{ .Env.APP_HOSTNAME }}
      APP_HOSTPATH: {{ .Env.APP_HOSTPATH }}
      CLOUDSQL_INSTANCE: {{ .Env.GCP_PRODUCTION_CLOUDSQL }}
      CONTAINER_PREFIX: {{ .Env.CONTAINER_PREFIX }}
      GCLOUD_CLUSTER: {{ .Env.GCP_PRODUCTION_CLUSTER }}
      GOOGLE_PROJECT_ID: {{ .Env.GCP_PRODUCTION_PROJECT }}
      HELM_NAMESPACE: {{ .Env.APP_HOSTPATH }}
      HELM_RELEASE: {{ .Env.CONTAINER_PREFIX }}-master
      WP_DB_NAME: {{ .Env.MYSQL_USERNAME }}_{{ .Env.MYSQL_DATABASE }}_master
      WP_STATELESS_BUCKET: {{ .Env.CONTAINER_PREFIX }}-stateless
      WP_TITLE: {{ .Env.WP_TITLE }}
    steps:
      - attach_workspace:
          at: /tmp/workspace

      - run:
          name: Configure
          command: |
            ${HOME}/scripts/activate-gcloud-account.sh

      - run:
          name: Deploy new containers
          environment:
            NEWRELIC_APPNAME: {{ .Env.NEWRELIC_APPNAME }} Production
          command: |
            make -j2 deploy

workflows:
  version: 2
  develop:
    jobs:
    - build-develop:
        context: org-global
        filters:
          branches:
            only: develop
          tags:
            ignore: /^v.*/

    - deploy-develop:
        context: org-global
        requires:
          - build-develop
        filters:
          branches:
            only: develop

  release:
    jobs:
    - build-release:
        context: org-global
        filters:
          branches:
            only: /^release.*/
          tags:
            ignore: /^v.*/

    - deploy-release:
        context: org-global
        requires:
          - build-release
        filters:
          branches:
            only: /^release.*/
          tags:
            ignore: /^v.*/

  tag:
    jobs:
      - build-tag:
          context: org-global
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - hold-tag:
          type: approval
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
          requires:
            - build-tag

      - deploy-tag:
          context: org-global
          requires:
            - hold-tag
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
