---
version: 2.1

{{- if isTrue .Env.MAKE_RELEASE }}
parameters:
  release_stage:
    type: enum
    default: "release"
    enum: ["release", "rollback"]
{{- end }}

defaults: &defaults
  docker:
    - image: greenpeaceinternational/p4-builder:latest

orbs:
  slack: circleci/slack@3.4.2
