---
version: 2.1

parameters:
  rollback:
    type: boolean
    default: false

docker_auth: &docker_auth
    username: $DOCKERHUB_USERNAME
    password: $DOCKERHUB_PASSWORD

defaults: &defaults
  docker:
    - image: greenpeaceinternational/p4-builder:latest
      auth: &docker_auth

orbs:
  slack: circleci/slack@3.4.2
