CREATE USER IF NOT EXISTS '{{  .Env.MYSQL_USERNAME }}'@'%' IDENTIFIED BY '{{  .Env.MYSQL_PASSWORD }}';

GRANT ALL PRIVILEGES ON `{{  .Env.MYSQL_USERNAME }}\_%`.* TO '{{  .Env.MYSQL_USERNAME }}'@'%' IDENTIFIED BY '{{  .Env.MYSQL_PASSWORD }}';

CREATE DATABASE IF NOT EXISTS `{{  .Env.MYSQL_USERNAME }}_{{  .Env.MYSQL_DATABASE }}`;

FLUSH PRIVILEGES;
