{
	"name": "{{ .Env.GITHUB_REPOSITORY_NAME }}/{{ .Env.GITHUB_REPOSITORY_NAME }}",
	"version": "0.0.1",

	"require": {
		"greenpeace/planet4-child-theme" : "dev-develop",
		"greenpeace/planet4-master-theme" : "dev-develop",
		"greenpeace/planet4-plugin-blocks" : "dev-develop"
	},

	"scripts": {
		"site:custom" : []
	}
}
