{
    "name": "{{ .Env.CIRCLE_PROJECT_USERNAME }}/{{ .Env.GITHUB_REPOSITORY_NAME }}",
    "description": "Greenpeace Planet 4",
    "license": "MIT",
    "require": {
        "greenpeace/planet4-master-theme" : "dev-master",
        "greenpeace/planet4-plugin-gutenberg-blocks" : "dev-master"
    },
    "scripts": {
        "site:custom" : []
    }
}
