{
	"name": "{{ .Env.CIRCLE_PROJECT_USERNAME }}/{{ .Env.GITHUB_REPOSITORY_NAME }}",
	"description": "Greenpeace {{ .Env.NEWRELIC_APPNAME }}",
	"version": "0.0.1",
	"license": "MIT",
	"require": {
		"greenpeace/planet4-child-theme" : "dev-develop",
		"greenpeace/planet4-master-theme" : "dev-develop",
		"greenpeace/planet4-plugin-blocks" : "dev-develop"
	},
	"scripts": {
		"site:custom" : []
	}
}
