APP_HOSTPATH=whatever
GITHUB_REPOSITORY_NAME=planet4-test-flibble
CIRCLE_TOKEN=<circle-ci-api-token>
CONTAINER_PREFIX=planet4-test-flibble
GITHUB_OAUTH_TOKEN=<github-oauth-token>
GITHUB_USER_EMAIL=your-email@greenpeace.org
GITHUB_USER_NAME="Your Name"
MAKE_MASTER=true
MAKE_RELEASE=true
MYSQL_PRODUCTION_ROOT_PASSWORD="prod-root-user-password"
MYSQL_DEVELOPMENT_ROOT_PASSWORD="dev-root-user-password"
MYSQL_USERNAME="not-too-long-username"
MYSQL_PASSWORD="db-password"
STATELESS_BUCKET_LOCATION="us"
WP_TITLE="Name of website"
