APP_HOSTPATH=whatever
CIRCLE_PROJECT_REPONAME=planet4-test-flibble
CIRCLE_TOKEN=<circle-ci-api-token>
CONTAINER_PREFIX=planet4-test-flibble
GITHUB_OAUTH_TOKEN=<github-oauth-token>
GITHUB_USER_EMAIL=your-email@greenpeace.org
GITHUB_USER_NAME="Your Name"
NEWRELIC_APPNAME="Name of application in NewRelic monitoring dashboard"
MYSQL_PRODUCTION_ROOT_PASSWORD="prod-root-user-password"
MYSQL_DEVELOPMENT_ROOT_PASSWORD="dev-root-user-password"
MYSQL_USERNAME="not-too-long-username"
MYSQL_PASSWORD="db-password"
WP_TITLE="Name of website"
